@*@page "/auditdata/{id:int}"
@inject HttpClient Http
@inject NavigationManager Nav
@inject ToasterService toasterservice

<h1>Audit Data</h1>

<EditForm Model="@auditData">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Audit Data</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-primary btn-round" @onclick="@(() => Save())">
                            <i class="nc-icon nc-check-2"></i> Save
                        </button>
                        <button class="btn btn-danger btn-round" @onclick="@(() => Cancel())">
                            <i class="nc-icon nc-simple-remove"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Name Audit Scenario</label>
                            <InputSelect typeof="number" class="form-select" aria-label="example" @bind-Value=@auditData.AuditScenarioUid>
                                <option value="0" selected>No current item</option>
                                @foreach (var select in auditScenarios)
                                {
                                    <option value="@select.AuditScenarioUid">@select.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Name">Name Audit Article</label>
                            <InputSelect typeof="number" class="form-select" aria-label="example" @bind-Value=@auditData.AuditArticleDefUid>
                                <option value="0" selected>No current item</option>
                                @foreach (var select in auditArticleDefs)
                                {
                                    <option value="@select.AuditArticleDefUid">@select.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                     <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Order">Order</label>
                            <InputNumber typeof="number" class="form-control" id="Order" @bind-Value="@auditData.Order" />
                        </div>
                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    private TblAuditScenario auditScenario = new TblAuditScenario();

    private List<TblAuditScenario> auditScenarios = new List<TblAuditScenario>();

    private TblAuditData auditData = new TblAuditData();

    private List<TblAuditArticleDef> auditArticleDefs = new List<TblAuditArticleDef>();
    private List<TblAuditData> auditDatas = new List<TblAuditData>();

    protected override async Task OnInitializedAsync()
    {

        auditScenarios = await Http.GetFromJsonAsync<List<TblAuditScenario>>("api/TblAuditScenario");

        auditDatas = await Http.GetFromJsonAsync<List<TblAuditData>>("api/TblAuditData");

        auditArticleDefs = await Http.GetFromJsonAsync<List<TblAuditArticleDef>>("api/TblAuditArticleDef");

        if (id > 0)
        {
            auditData = await Http.GetFromJsonAsync<TblAuditData>($"api/TblAuditData/{id}");
        }
    }

    private async Task Save()
    {
        if (id > 0)
        {
            await Http.PutAsJsonAsync<TblAuditData>($"api/TblAuditData/{id}", auditData);
        }
        else
        {
            await Http.PostAsJsonAsync<TblAuditData>("api/TblAuditData", auditData);
        }
        Nav.NavigateTo("auditdata");
    }

    private void Cancel()
    {
        Nav.NavigateTo("auditdata");
    }
}*@